[Desktop Entry]
Name=Need For Speed II SE
Comment=Cross-platform port of the Need For Speed™ II SE game with 3D acceleration and TCP protocol!
Type=Application
Terminal=false
Icon=nfs2se
Exec=nfs2se
StartupNotify=false
Categories=Game;
